{{>headers}}
    <main>
        <body>
            {{>navbar}}
            <div class="container">
              {{{body}}}
            </div>
        </body> 
    </main>

      {{>footer}}  
</html>
